<!DOCTYPE html>
<html>
<head>
  <title>EventTaskx</title>
  <%= stylesheet_link_tag    "event_taskx/application", :media => "all" %>
  <%= javascript_include_tag "event_taskx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
